<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/global.css" rel="stylesheet" />
    <link href="~/css/botaoCadastrar.css" rel="stylesheet" />
    <link href="~/css/cabecalho.css" rel="stylesheet" />
    <link href="~/css/botaoRanking.css" rel="stylesheet" />
    <link href="~/css/cadastrarConjuge.css" rel="stylesheet" />
    <link href="~/css/cadastrarDependente.css" rel="stylesheet" />
    <link href="~/css/cadastrarResponsavel.css" rel="stylesheet" />
    <link href="~/css/cadastrarVoltar.css" rel="stylesheet" />
    <link href="~/css/criterios.css" rel="stylesheet" />
    <link href="~/css/desenvolvimento.css" rel="stylesheet" />
    <link href="~/css/posCadastro.css" rel="stylesheet" />
    <link href="~/css/rankingFamilias.css" rel="stylesheet" />
    <link href="~/css/rankingVoltar.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - SeletorFamilias</title>
</head>
<body>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
