@{
    ViewData["Title"] = "Cadastrar Dependente";
}

<section class="cadastrar__depentente container">
    <h1 class="cadastrar__dependente--titulo">Adicionar dependente</h1>
    <input type="text" class="cadastrar__dependente--input" placeholder="Nome">
    <input type="text" class="cadastrar__dependente--input" placeholder="CPF">
    <input type="text" class="cadastrar__dependente--input" placeholder="Data Nascimento">
</section>
<button class="cadastrar__dependente--botao">Cadastrar dependente</button>