@{
    ViewData["Title"] = "Pós Cadastro";
}

<section class="poscadastro container">
    <h1 class="pontuacao">10 Pts</h1>
    <div class="detalhes__familia">
        <h1 class="familia__responsavel">Família de José</h1>
        <h2 class="familia__renda">R$ 1500,00</h2>
        <p class="familia__integrantes">2 Integrantes</p>
    </div>
    <h2 class="familia__responsavel--tamanhomenor">José da Silva</h2>
    <p class="familia__conjuge">Maria da Silva</p>
    <div class="adicionar__dependente">
        <p class="adicionar__dependente--descricao">Adicionar dependente</p>
        <a href="" class="adicionar__dependente--ancora">+</a>
    </div>
</section>
<button class="confirmar__familia">Confirmar Família</button>