@{
    ViewData["Title"] = "Ranking";
}

<section class="ranking__voltar">
    <a href="home.html" class="ranking__ancora">
        <img src="~/Icones/Voltar-Preto.svg" alt="" class="voltar__inicio">
    </a>
    <h1 class="ranking__titulo">Ranking</h1>
</section>
<section class="botao__ranking container">
    <a href="cadastrar.html" class="botao__ranking--cadastrar">Cadastrar Família</a>
</section>
<section class="ranking__familias container">
    <div class="ranking__familia primeira__familia">
        <h1 class="familia__responsavel">Família do José</h1>
        <button class="familia__contemplar">Contemplar</button>
    </div>
    <div class="ranking__familia segunda__familia">
        <h1 class="familia__responsavel">Família do João</h1>
    </div>
    <div class="ranking__familia terceira__familia">
        <h1 class="familia__responsavel">Família do pedro</h1>
    </div>
</section>